.command{
    width: 10rem;
    padding: 5px;
    
}

body{
     background-color:#E9EFEC !important;  
}

.c1{
    background-color:#16423C;
    padding: 10px;
    
    
}
.c2{
    
    background-color:#6A9C89;
    padding: 20px;
    
}
.c3{
    
    background-color: #C4DAD2;
    
}

h3{
    color:whitesmoke !important;
}

.custom-font{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
